ELEVENLABS_API_KEY=
ELEVENLABS_AGENT_ID=
ELEVENLABS_PROSECUTOR_AGENT_ID=
ELEVENLABS_DEFENSE_AGENT_ID=
FIRECRAWL_API_KEY=
ELEVENLABS_FEMALE_VOICE_ID=
ELEVENLABS_MALE_VOICE_ID=
ELEVENLABS_NARRATOR_VOICE_ID=
MINIMAX_API_KEY=
